In [3]:
##Q1.
set_1={"bat","football","ball"}
print(set_1)

{'football', 'ball', 'bat'}

In [5]:
##Q2.
set_1.add("honey")
print(set_1)

{'football', 'ball', 'honey', 'bat'}

In [14]:
##Q3.
set_1={"futbol","bat","ball"}
set_1.update("bee")
set_1.update("flower")
print(set_1)

{'ball', 'l', 'f', 'b', 'futbol', 'o', 'r', 'e', 'w', 'bat'}

In [9]:
##Q4.
print(len(set_1))

5

In [11]:
##Q5.
set_1.remove("bat")
print(set_1)

{'ball', 'flower', 'bee', 'futbol'}

In [12]:
##Q6.
x=set_1.pop()
print(x)
print(set_1)

ball
{'flower', 'bee', 'futbol'}

In [15]:
##Q7.
set_1={"futbol","bat","ball"}
set_2={"bee","flower"}
set_1.update(set_2)
print(set_1)

{'ball', 'flower', 'bee', 'futbol', 'bat'}

In [16]:
##Q8.
set_3={"bee","bat"}
set_4=set_1.intersection(set_3)
print(set_4)

{'bee', 'bat'}

In [25]:
##Q9.
set_3={"nisan","arigato"}
set_4=set_1.union(set_3)
set_6=set_4
print(set_4)

{'ball', 'flower', 'bee', 'nisan', 'arigato', 'futbol', 'bat'}

In [19]:
##Q10.
set_4.clear()
print(set_4)

set()

In [21]:
##Q11.
set_2={"shoes"}
set_3={"ball"}
x=set_1.issubset(set_2)
y=set_1.issuperset(set_3)
print(x)
print(y)

False
True

In [26]:
##Q12.
set_5=set_6.difference(set_1)
print(set_5)

{'nisan', 'arigato'}

In [27]:
##Q13.
set_7=set_6.symmetric_difference(set_1)
print(set_7)

{'nisan', 'arigato'}